.category-preview-container {
  .category-preview {
    min-width: 300px;
    max-width: 350px;

    .title-img {
      height: 11rem;
      transition: height 0.5s;
      border-radius: 5px 5px 0 0;
    }

    .info {
      height: 4rem;
      transition: height 0.5s;
      border-radius: 0 0 5px 5px;
    }
  }

  &:hover {
    .title-img {
      height: 9rem;
    }

    .info {
      height: 6rem;
    }
  }
}


.create-gallery {
  min-width: 300px;
  min-height: 200px;
  height: 90%;
  border-radius: 5px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.55);
}

.header-border {
  background-color: rgba(255, 255, 255, 0.2);
}

.border-bottom-0 {
  border-bottom: 0;
}

.border-top-0 {
  border-top: 0;
}
